.mainpage{
    width: 100vw;
    height: 100vh;
    background-image: url("https://ik.imagekit.io/1zytrb8ce/amazon-image/bigimage1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1677231586727");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-color: #EAEDED;
}
